.Join-List-Button {
    width: 100px;
    height: 50px;
    background-color: teal;
    font-size: 20px;
    color: #f3f3f3;
    border-radius: 20px;
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: white;
    margin: 80px 0;
    padding:0 50px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Home a {
    text-decoration: none;
  }

h1.Home-h1 {
    margin-top:0;
    font-weight:600;
}
h2.Home-h2 {
    color:darkgrey;
}
h2.Home-h2 a {
    color:black;
}
h2.Home-h2 a:hover {
    color:green;
}

.New-List-Button {
    background-color:   rgba(80, 148, 46);
    color: #fff;
    cursor: pointer;
    font-size:32px;
    padding: 20px;
    margin:20px 0;
    border:1px solid rgba(80, 148, 46);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  .New-List-Button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgba(80, 148, 46,0.8);
    transform: translateY(-0.25em);
  }
