.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    /* background-color: #b9dfed; */
    position:relative;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.Header {
    position: sticky;
    width: 100vw;
    padding:0;
    background-color: #c4d8e2;
    top: 0;
    display: block;
    text-align: center;
    /* color: blue; */
    /* font-size: 25px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
/* .Header h1 {
    margin: 20px;
} */
.Header img {
    max-width:350px;
}

/* Home */

.Home,
.JoinList-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F1F4F4;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.JoinList-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width:50%;
}

.JoinList-text {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 32px;
    margin:40px 0;
}

.JoinList-button {
    flex: 1;
}

.JoinList-input {
    display: inline-block;
    min-width: 300px;
    margin: 0 20px 0 0;
    height: 40px;
    flex: 1;
    border: 1px solid #24A5B0;
}

.Home a {
    text-decoration: none;
}

h1.Home-h1 {
    margin-top: 0;
    font-weight: 600;
}
h2.Home-h2 {
    color: darkgrey;
}
h2.Home-h2 a {
    color: #24A5B0;
}
h2.Home-h2 a:hover{
    color: #000;
}
.Home img {
    width:100px;
    margin-bottom:40px;
}


.NewList-button,
.JoinList-button {
    background-color: #AEC6CF;
    color: #f1f4f4;
    cursor: pointer;
    font-size: 32px;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #AEC6CF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.NewList-button:hover,
.JoinList-button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #24A5B0;
    transform: translateY(-0.25em);
}


/* Add Item Form */

h1 {
    margin-top:40px;
}
form {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #dfded4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom:80px;
    margin-bottom:100px;
}
input {
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #000;
    margin-bottom: 40px;
    width:50%;
    border-style: none;
}
input[type=date] {
    font: 95% Arial, Helvetica, sans-serif;
    color: #555;
}
input[type=submit] {
    background:teal;
    margin-top: 40px;
    cursor:pointer;
    color: #fff;
    font-weight:400;
}
input[type=submit]:hover {
    opacity:0.5;
}
select {
    margin: 20px 0 40px 0 ;
    height: 50px;
    color: #555;
    font-size:1rem;
}
.errorMessage {
    color:red;
}

/* Footer Tabs */

ul {
    list-style: none;
}

li {
    display: inline;
    margin-left: 5px;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.navbutton {
    width: 150px;
    height: 50px;
    background-color: teal;
    color: #f3f3f3;
    font-size: 20px;
}

.navbutton:focus {
    background-color: rgba(2, 75, 75, 0.5);
}

/* Shopping List */

.soon {
    background-color: #c4e2ce;
}
.kindasoon {
    background-color: #e2cec4;
}
.notsoon {
    background-color: #e2c4d8;
}
.inactive {
    background-color: #dfdfdf;
}

thead {
    font-size:20px;
    text-align:center;
    margin-bottom:5px;
}
tbody {
    font-size:20px;
    text-align:center;
    background-color: #e2cec4;
}

tbody td {
    min-width: 100px;
    /* min-height:100px; */
}
tbody tr {
    height:50px;
}
tbody tr:hover {
    background-color: #9ae7ff; 
}
tbody td input {
    margin-bottom:0;
}
.deleteImg {
    max-width:10px;
}
.deleteItemButton {
    padding: 15px;
    background: transparent;
    border: none;
}
.deleteItemButton:hover {
    cursor:pointer;
}
.deleteItemButton img{
    width: 10px;
    height:10px;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* MODAL */
/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
  }
  
  /* Add animation (Standard syntax) */
  @keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
  }
  
  /* The modal's background */
  .modal {
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Display the modal when targeted */
  /* .modal:active {
    display: table;
    position: absolute;
  } */
  
  /* The modal box */
  .modal-dialog {
    display: table-cell;
    vertical-align: middle;
  }
  
  /* The modal's content */
  .modal-dialog .modal-content {
    margin: auto;
    background-color: #AEC6CF;
    color: black;
    position: relative;
    padding: 0;
    outline: 0;
    border: 5px #AEC6CF solid;
    text-align: center;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    /* Add animation */
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 0.5s;
  }
  
  /* The button used to close the modal */
  /* .closebtn {
    text-decoration: none;
    float: right;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
  } */
  
  /* .closebtn:hover,
  .closebtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  } */
  
  .container {
    padding: 2px 16px;
  }
  
  header {
    /* background-color: #AEC6CF; */
    font-size: 25px;
    /* color: black; */
  }
  
  footer {
    /* background-color: #AEC6CF; */
    font-size: 20px;
    /* color: black; */
  }



  /* .Modal {
    position: fixed;
    top: 10%;
    padding: 24px;
    left: 50%;
    background-color: white;
    border: 1px solid red;
    border-radius: 3px;
    text-align:center;
  }*/
  .modal button{
    background-color: #DFDED4;
    color: #000;
    cursor: pointer;
    font-size: 32px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #DFDED4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .modal button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #24A5B0;
    transform: translateY(-0.25em);
} 
 /* .detailsModal {
    position: fixed;
    top: 64px;
    padding: 24px;
    left: 64px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
  } */







  /* .btn-close{
    color: lightgray;
    font-size: 30px;
    text-decoration: none;
    position: absolute; right: 5px; top: 0;
  }
  .btn-close:hover{
    color: darken(lightgray, 10%);
 }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 1s;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 998;
  } */