.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #b9dfed;
    position:relative;
}

.Header {
    position: sticky;
    width: 100vw;
    padding:0;
    background-color: white;
    top: 0;
    display: block;
    text-align: center;
    color: blue;
    font-size: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Header h1 {
    margin: 20px;
}

/* Home */

.Home,
.JoinList-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.JoinList-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.JoinList-text {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 32px;
    margin-bottom:40px;
}

.JoinList-button {
    flex: 1;
}

.JoinList-input {
    display: inline-block;
    min-width: 300px;
    margin: 0 20px 0 0;
    height: 40px;
    flex: 1;
    border: 1px solid green;
}

.Home a {
    text-decoration: none;
}

h1.Home-h1 {
    margin-top: 0;
    font-weight: 600;
}
h2.Home-h2 {
    color: darkgrey;
}
h2.Home-h2 a {
    color: black;
}
h2.Home-h2 a:hover {
    color: green;
}

.NewList-button,
.JoinList-button {
    background-color: rgba(80, 148, 46);
    color: #fff;
    cursor: pointer;
    font-size: 32px;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid rgba(80, 148, 46);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.NewList-button:hover,
.JoinList-button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgba(80, 148, 46, 0.8);
    transform: translateY(-0.25em);
}


/* Add Item Form */

h1 {
    margin-top:40px;
}
form {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: rgb(151, 193, 206);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom:80px;
    margin-bottom:100px;
}
input {
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #000;
    margin-bottom: 40px;
    width:50%;
    border-style: none;
}
input[type=date] {
    font: 95% Arial, Helvetica, sans-serif;
    color: #555;
}
input[type=submit] {
    background:teal;
    margin-top: 40px;
    cursor:pointer;
    color: #fff;
    font-weight:400;
}
input[type=submit]:hover {
    opacity:0.5;
}
select {
    margin: 20px 0 40px 0 ;
    height: 50px;
    color: #555;
    font-size:1rem;
}
.errorMessage {
    color:red;
}

/* Footer Tabs */

ul {
    list-style: none;
}

li {
    display: inline;
    margin-left: 5px;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.navbutton {
    width: 150px;
    height: 50px;
    background-color: teal;
    color: #f3f3f3;
    font-size: 20px;
}

.navbutton:focus {
    background-color: rgba(2, 75, 75, 0.5);
}

/* Shopping List */

.soon {
    background-color: red;
}
.kindasoon {
    background-color: orange;
}
.notsoon {
    background-color: green;
}
.inactive {
    background-color: grey;

}

.modal{
    /* arbitrary styling */
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);

    /* change position to fixed if you want to prevent the dialog from scrolling away, and center it */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.emptyListModal ul{
    list-style-type: circle;
    padding:0;
}

.emptyListModal li {
    display: block;
    margin-left:0;
    
}

button.emptyListButton {
    background-color: rgba(80, 148, 46);
    color: #fff;
    cursor: pointer;
    font-size: 32px;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid rgba(80, 148, 46);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
